.favicon {
  border-radius: 50%;
}

.dashboard-background {
  height: 100vh;
  position: relative;
}

.container-dashboard {
  margin: 0 auto;
  padding-top: 24px;
  width: 65vw;
  justify-content: center;
  a:hover {
    text-decoration: none;
  }
}

.dashboard-top {
  display: flex;
  justify-content: center;
  height: 220px;
}

.dashboard-cards {
  display: flex;
  justify-content: space-around;
}

.user_info {
  text-align: center;
  margin: 32px auto 22px;
}

.avatar-large {
  height: 120px;
  width: 120px;
  border: 2px solid white;
  opacity: 90%;
}

.user-name {
  font-size: 32px;
  margin:8px auto;
  color: white;
  font-family: "Montserrat";
}

.dashboard-buttons {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

.grid-message-sets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  p {
    font-family: "Montserrat";
    font-size: 18px;
  }
}

.container-dashboard {
  height: 100vh;
}

.scroll {
  height: 210px;
  overflow-y: scroll;
  margin-bottom: 28px;

}
.scrollvertical {
  height: 115px;
  width: 500px;
  overflow-y: scroll;

}

.margins {
  margin: 0 auto;
  color:#353839;
}

#shuffle div {
  cursor: grab;
}

#shuffle div:active {
  cursor: grabbing;
}

#shuffle div.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

.house {
  text-align: center;
  margin: 32px auto 48px;
  height: 170px;
  img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  opacity: 75%;
  }
  img:hover {
    width: 165px;
    height: 165px;
    opacity: 90%;
    transition-property: all;
    transition-duration: 0.4s;
  }
}
.dropbtn {
  color:grey;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: -5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  // background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  text-align:center;
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.newbookmark_container {
  background-color: white;
  color: black;
  display: flex;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
}
.btn-addbookmark {
  background: linear-gradient(to right, #e2dae1 30%, #c1bdc1 98%);
  margin-top: 20px;
  color: black;
  border-style: none;
  padding: 5px;
  border-radius: 10px;
  font-family: "Montserrat";
}

