


.favicon{
  border-radius: 50%;
}


.dashboard-background {
  background-color: #A5B8FF;
  height: 100%;
  // height: 2000px;
}

.container-dashboard {

  margin: 0 auto;
  padding-top: 5vh;
  // display: flex;
  a:hover {
    text-decoration: none;
  }
}

.stats {
  margin-top: 125px;
}

.user_info {
  text-align: center;
  margin: 20px auto;
}

.avatar-large {
  height: 150px;
  width: 150px;
  border: 3px solid white;
}

.user-name {
  font-size: 40px;
  margin: 16px auto 30px;
  color: white;
  font-family: Montserrat;
}

.dashboard-buttons {
  display: flex;
  justify-content: space-around;
}


.my-messages {
  text-align: center;
}

.grid-message-sets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  p {
    font-family: "Montserrat";
    font-size: 18px;
  }
}

.dropbtn {
  // background-color: white;
  color: #98abf5;
  border-radius: 50%;
  // padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  // background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.newbookmark_container {
  background-color:#98abf5;
  color:white;
  font-family:"Montserrat";
  font-size: 20px;
}
.btn-addbookmark {
  margin-top: 10px;
  background-color: white;
  color:#98abf5;
  border-style: none;
}

// .d-flex {
//   display: flex;
//   margin-top: 500px;
//   padding: 50px;

// }

// .flex-container > div {
//   margin: 10px;
//   padding: 20px;
//   font-size: 30px;
// }
.container-dashboard{
  flex-direction: column;
  height:100vh;



}

.anyClass {
  height:150px;
  overflow-y: scroll;
}


