


.favicon{
  border-radius: 50%;
}


.dashboard-background {
  background-color: #A5B8FF;
  // height: 100vh;
  height: 100vh;
}

.container-dashboard {
  margin: 0 auto;
  padding-top: 5vh;
  // display: flex;
  a:hover {
    text-decoration: none;
  }
}

.stats {
  margin-top: 125px;
}

.user_info {
  text-align: center;
  margin: 20px auto;
}

.avatar-large {
  height: 150px;
  width: 150px;
  border: 3px solid #fffaf0;
}

.user-name {
  font-size: 40px;
  margin: 16px auto 30px;
  color: #fffaf0;
  font-family: Montserrat;
}

.dashboard-buttons {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}


.my-messages {
  text-align: center;
}

.grid-message-sets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  p {
    font-family: "Montserrat";
    font-size: 18px;
  }
}

.dropbtn {
  // background-color: white;
  color:grey;

  border-radius: 50%;
  // padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  // background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.newbookmark_container {
  background-color:#98abf5;
  color:white;
}
.btn-addbookmark {
  margin-top: 10px;
  background-color: white;
  color:#98abf5;
  border-style: none;
}

// .d-flex {
//   display: flex;
//   margin-top: 500px;
//   padding: 50px;

// }

// .flex-container > div {
//   margin: 10px;
//   padding: 20px;
//   font-size: 30px;
// }
.container-dashboard{
  flex-direction: column;
  height:100vh;



}

.scroll {
  height:150px;
  overflow-y: scroll;

}
.scrollvertical {
  height:110px;
  width:500px;
  overflow-y: scroll

}

.messagesets_cardleft {
  max-height: 150px;
  max-width: 200px;
  background: #fffaf0;
  margin-bottom: 50px;
  margin-left: 290px;
  padding-bottom: 30px;
  border-radius: 10px;
  text-align: center;
  color:#353839;

  // box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
.margins{
  margin: 0 auto;
  color:#353839;
  // text-decoration: underline;
}

#shuffle div {
  cursor: grab;
}

#shuffle div:active {
  cursor: grabbing;
}

#shuffle div.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

// Sortable.create "(1, {
//   ghostClass: "ghost",
//   animation: 150,
//   onEnd: (event) => {
//     alert(`${event.oldIndex} moved to ${event.newIndex}`);
//   }
// })";

