// Specific CSS for your home-page
.homepage-background {
  // background: linear-gradient(180deg, #8FA8FF -11.39%, $darker-purple -1.88%, rgba(255, 255, 255, 0) 100%), $main-purple;
  height: 100vh;
  position: relative;
  // background: url('/assets/light_blue_sea.jpg');
  // background-position: center bottom;
  // background-size: cover;
}

.website-name {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  h1 {
    color: white;
    font-size: 16px;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    vertical-align: middle;
  }
}

.container-homepage {
  width: 85vw;
  margin: 0 auto;
}

.homepage-top {
  display: flex;
  justify-content: space-between;
}

.homepage-bottom {
  display: flex;
  margin-top: 7vh;
  justify-content: space-between;
  vertical-align: middle;
  a {
    align-self: flex-end;
  }
}

.homepage-right {
  width: 250px;
  margin-top: 15vh;
}

.homepage-left {
  width: 850px;
  margin-top: 15vh;
  // height: 390px;
}

.homepage-bookmarks {
  width: 450px;
  display: flex;
  justify-content: space-around;

}

.homepage-buttons {
  display: flex;
  justify-content: center;
  width: 450px;
  margin: 120px auto 0;
  padding-left: 30px;

}

.main-message {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Montserrat";
  font-size: 54px;
  margin: 5vh 3vh 10vh 40px;
  height: 150px;
  width: auto;
  // text-align: center;
  a {
    color: white;
  }
  a:hover {
    color: rgb(237, 235, 255);
    text-decoration: none;
    text-shadow: rgba(237, 235, 255, 0.85) 0.25px 0.50px 1px;
    transition-property: text-shadow;
    transition-duration: 0.2s;
  }
}

.active-emoji {
  transform: scale(1.5);
}
