// Specific CSS for your home-page
.homepage-background {
  background-color: #A5B9FF;
  height: 100vh;
}

.container-homepage {
  width: 80vw;
  margin: 0 auto;
}

.homepage-top {
  display: flex;
  justify-content: space-between;
}

.homepage-bottom {
  display: flex;
  margin-top: 5vh;
  justify-content: space-between;
}

.homepage-right {
  width: 250px;
}

.homepage-left {
  width: 60vw;
  margin-top: 15vh;
}

.homepage-bookmarks {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 5vh 5vw;

}

.homepage-buttons {
  display: flex;
  justify-content: space-around;
  width: 35vw;
  margin: 0 auto 5vh 7vw;
}

.main-message {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Montserrat";
  font-size: 60px;
  margin: 0 auto 10vh;
  height: 150px;

}



