// Specific CSS for your home-page
.homepage-background {
  background-color: $main-purple;
  height: 100vh;
  position: relative;
}

.container-homepage {
  width: 85vw;
  margin: 0 auto;
}

.homepage-top {
  display: flex;
  justify-content: space-between;
}

.homepage-bottom {
  display: flex;
  margin-top: 7vh;
  justify-content: space-between;
  vertical-align: middle;
  a {
    align-self: flex-end;
  }
}

.homepage-right {
  width: 250px;
  margin-top: 15vh;
}

.homepage-left {
  width: 850px;
  margin-top: 15vh;
  // height: 390px;
}

.homepage-bookmarks {
  width: 40vw;
  display: flex;
  justify-content: space-around;

}

.homepage-buttons {
  display: flex;
  justify-content: space-around;
  width: 35vw;
  margin: 120px auto 0;

}

.main-message {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Montserrat";
  font-size: 60px;
  margin: 5vh auto 10vh;
  height: 150px;
  // text-align: center;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}
