// Specific CSS for your home-page
.homepage-background {
  background-color: #A5B9FF;
  height: 100vh;
}

.container-homepage {
  width: 80vw;
  margin: 0 auto;
}

.homepage-top {
  display: flex;
  justify-content: space-between;
}

.homepage-bottom {
  display: flex;
  margin-top: 5vh;
}

.homepage-right {
  width: 250px;
}

.homepage-left {
  width: 45vw;
  margin-top: 15vh;
}

.homepage-bookmarks {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 5vh;

}

.homepage-buttons {
  display: flex;
  justify-content: space-around;
  width: 35vw;
  margin: 0 auto 5vh;
}

.main-message {
  color: white;
  font-family: "Montserrat";
  font-size: 60px;
  margin: 0 auto 10vh;
}

.custom-message input {
  width: 50vw;
  margin-left: 12vw;
  padding: 12px 24px;
  border: 0.5px solid white;
  background-color: transparent;
  color: white;
  font-size: 24px;
  font-family: "Montserrat";
  &:focus {
    outline: none;
  }
}
