.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewport-header h1{
  color: white;
  text-align: center;
  text-decoration: none;
  // letter-spacing: 0.1em;
  line-height: 82px;
  font-size: 60px;
  font-family: "Spartan";
}
.viewport-header p {
  margin-top: 32px;
  text-align: center;
  color: white;
  line-height: 0;
  letter-spacing: 0.1em;
  font-size: 19px;
  font-family: "Work Sans";
}

main {
  display: none;
  width: 80vw;
  left: 10%;
  height: 40vh;
  overflow: auto;
  background: rgba(black, 0.66);
  color: white;
  position: relative;
  padding: 1rem;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.Homebanner {
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 200px 0;
  height: 90vh;
}
.Homebanner h1 {
  text-align: center;
  text-shadow: 0px 0px 2px rgba(0,0,0,4);
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 82px;
  font-size: 80px;
  font-family: "ribeye marrow";
}
.Homebanner p {
  text-align:center;
  color: #BAE0FF;
  line-height: 35px;
  letter-spacing: 0.1em;
  font-size: 19px;
  font-family: "Work Sans";
}
.QuizButton {
  background-color: $main-purple;
  font-size: 22px;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-family: "Montserrat";
}
.QuizButton:hover {
  opacity: 1;
  // background: #BAE0FF;
  box-shadow: rgba(255, 255, 255, 0.85) 0px 1px 8px;
  text-decoration: none;
  color: white;
  transition-property: all;
  transition-duration: .3s
}

#landing-logo {
  width: 70px;
  height: 70px;
  margin-bottom: 16px;
}
