.background-quizpage {
  background-color: #FFCFF4;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  color: black;
}

.container-top {
  padding-top: 20vh;
  padding-bottom: 5vh;
  text-align: center;
}

.stress-message {
  margin: 0 auto 24px;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 300;
}

.container-bottom {
  text-align: center;
}

.form-check {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 22px;
  text-align: left;
  width: 50vw;
  margin-left: 28vw;
  label {
    padding: 5px 20px;
    width: 350px;
  }
}

.form-check-input {

}

.grid-options {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // padding: 35px 150px 50px;
  // margin: 0 auto;
}

// .message-row {
//   display: flex;
//   justify-content: space-around;
//   // margin: 20px;
//   // font-family: "Montserrat";
//   // font-weight: 300;
//   // font-size: 26px;
// }

// .set-option {
//   padding: 30px;
// }

// .stress-btn-row {
//   display: flex;
//   flex-wrap: wrap;
//   color: #FFFFFF;
//   width: 100vw;
//   justify-content: space-around;
// }

// .btn-stress {
//   cursor: pointer;
//   width: 368px;
//   color: white;
//   font-family: "Montserrat";
//   text-align: center;
//   font-size: 25px;
//   margin: 0 50px;
//   margin-bottom: 50px;
//   padding: 10px 20px;
//   border-radius: 5px;
//   background-color: rgba(255, 255, 255, 0.25);
//   &:hover {
//     text-decoration: none;
//     color: white;
//     box-shadow: rgba(255, 255, 255, 0.85) 0px 1px 8px;
//     transition-property: all;
//     transition-duration: .3s
//     }
// }
