.sign-up {
  height:100vh;
  background:#c5f7dc url(https://images.unsplash.com/photo-1606661247834-eb1f16814366?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80);
  background-size:cover;
  position:relative;
  font-family: Optima;
}

.sign-up form {
  max-width:400px;
  width:100%;
  background-color:#A5B8FF;
  padding:80px;
  border-radius:25px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}


.sign-up form .btn-primary {
  background:#3e4b59;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
  text-align: center;
}

.sign-up form .btn-primary:hover, .sign-up form .btn-primary:active {
  background:#4225B3;
  outline:none;
  color:#a5ebff;
}


.sign-up form .btn-primary:active {
  transform:translateY(1px);
}
.login-greet {
  text-align: right;
  color: black;
}

.auth-links a {
  color: black;
}
.lock-reg {
  width: 100px;
}

.register-dark {
  font-family: Optima;
}

.register-greet {
  text-align: center;
}

.devise-links {
  text-align: center;
}

.devise-links a {
  color: black;
}

