<div class="dashboard-background">
  <div class="container-dashboard">
        <div class="dashboard-left">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
            <h3 class="padding">  <%= current_user.email%></h3>
          </div>
          <div class="stats">
            <p class="text-center">Stats</p>
          </div>
          <div class="card-dashboard">

          </div>
        </div>


        <div class="dashboard-right">

          <div class="card-dashboard">
            <p class="text-center">Calendar</p>

          </div>
          <div class="card-dashboard">
             <p class="text-center">Bookmarked sites</p>
             <% current_user.bookmarks.each do |bookmark| %>
               <p><%= bookmark.link %></p>
               <%end%>

             <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Add a bookmark</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              <script>
                  function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                  }
                  window.onclick = function(event) {
                    if (!event.target.matches('.dropbtn')) {
                      var dropdowns = document.getElementsByClassName("dropdown-content");
                      var i;
                      for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                          openDropdown.classList.remove('show');
                        }
                      }
                    }
                  }
                  </script>
              </div>
          </div>
          <div class="card-dashboard">
             <p class="text-center">My Message sets</p>
          </div>
          <div class="card-dashboard">
             <p class="text-center">Others</p>
          </div>

        </div>
  </div>
</div>
