<div class="dashboard-background">
  <div class="container-dashboard">
        <div class="dashboard-left">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
            <h3 class="padding">  <%= current_user.email%></h3>
          </div>
          <div class="stats">
            <p class="text-center">Stats</p>
          </div>
          <div class="card-dashboard">

          </div>
        </div>


        <div class="dashboard-right">

          <div class="card-dashboard">
            <p class="text-center">Calendar</p>

          </div>
          <div class="card-dashboard">
             <p class="text-center">Bookmarked sites</p>
          </div>
          <div class="card-dashboard">
             <p class="text-center">My Message sets</p>
          </div>
          <div class="card-dashboard">
             <p class="text-center">Others</p>
          </div>

        </div>
  </div>
</div>
