<div class="homepage-background">
  <div class="container-homepage">
    <div class="homepage-top">
      <div class="homepage-left">

        <h2 class="main-message">I'm too smart to be brainwashed by ads.</h2>

        <div class="homepage-bookmarks">
          <%= image_tag("gmail-screenshot.png", class: "bookmark-circle") %>
          <%= image_tag("google-screenshot.png", class: "bookmark-circle") %>
          <%= image_tag("kitt-screenshot.png", class: "bookmark-circle") %>
          <%= image_tag("rubydocs-screenshot.png", class: "bookmark-circle") %>
        </div>

        <div class="homepage-buttons">
          <a href="#" class="btn-homepage">Mood check-in</a>
          <a href="#" class="btn-homepage">Dashboard</a>
        </div>

      </div>

      <div class="homepage-right">

      </div>
    </div>

    <div class="homepage-bottom">

      <div id="lollipop">
        <img src="https://img.icons8.com/dusk/64/000000/cherry-chupa-chups.png"/>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>
