
<%= video_tag "baloon.mp4", autoplay: :autoplay, loop: :loop, muted: :muted %>
<header class="viewport-header">
  <h1>
    <span>Conscious Clicks</span>
    <p><em> helping you change your online habits</em></p>
      <%= link_to 'Get Started', new_user_registration_path, class: "QuizButton" %>
  </h1>
</header>
