<div class="Homebanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'https://images.unsplash.com/photo-1482376297902-a54c222cec2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80' %>);">
  <div class= "container">
    <h1>Conscious Clicks</h1>
      <p><em> helping you change your online habits</em></p>
  </div>
    <!-- <a class="QuizButton" href="#">Get started</a> -->
    <div class="find-button">
      <%= link_to 'Get Started', quiz_path(@quiz), class: "QuizButton" %>
    </div>
</div>



<!-- <div class="backroundvideo">
 <video src="https://static.videezy.com/system/resources/previews/000/052/624/original/calm_sea_and_the_boats.mp4" autoplay loop playsinline muted></video>
</div>


Free Stock Videos by <a href="http://videezy.com/">Videezy.com</a> -->
