 <div class="Homebanner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'https://images.unsplash.com/photo-1482376297902-a54c222cec2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80' %>);"> -->
  <div class= "container">
    <h1>Conscious Clicks</h1>
      <p><em> helping you change your online habits</em></p>
      <%= link_to 'Get Started', new_user_registration_path, class: "QuizButton" %>
 </div>
