<div class="mood-background justify-content-center">
  <div class="mood">
    <form class="form-mood">
      <h1>How are you feeling?</h1>
      <input type="radio" id="happy" name="mood" value="😃">
      <label for="male">😃</label><br>
      <input type="radio" id="sad" name="mood" value="🥺">
      <label for="female">🥺</label><br>
      <button type="button" class="btn btn-outline-primary">✓</button>
    </form>

  </div>
</div>
