<div class="quizpage-background">
  <div class="container-quizpage">
    <div class="quizpage-header">
      <h1 class="stress-message">Which of these add stress to your life?</h1>
    </div>
    <div class="container-stress-btns">
      <div class="stress-btn-row">
        <div class="btn-stress">
          <h3>Loneliness/isolation</h3>
        </div>
        <div class="btn-stress">
          <h3>Climate change</h3>
        </div>
        <div class="btn-stress">
          <h3>Social media</h3>
        </div>
      </div>
      <div class="stress-btn-row">
        <div class="btn-stress">
          <h3>Traditional gender roles</h3>
        </div>
        <div class="btn-stress">
          <h3>Employment status</h3>
        </div>
        <div class="btn-stress">
          <h3>Beauty standards</h3>
        </div>
      </div>
      <div class="stress-btn-row">
        <div class="btn-stress">
          <h3>Materialism</h3>
        </div>
        <div class="btn-stress">
          <h3>Exams/deadlines</h3>
        </div>
        <div class="btn-stress">
          <h3>Fake news</h3>
        </div>
      </div>
    </div>
  </div>
</div>
