<div class="background-quizpage">

  <div class="container-top">
    <div class="quizpage-header">
      <h1 class="stress-message">Which of these add stress to your life?</h1>
    </div>
    <div class="quizpage-select">
      <h6 class="select-message">Select all that apply.</h6>
    </div>
  </div>

  <div class="container-bottom">
      <%= simple_form_for @user_message_set do |f| %>
        <% MessageSet.all.each_slice(3).to_a.each do |message_subset| %>
          <div class="message-row">
            <%= f.association :message_set, collection: message_subset, label: false, label_method: :theme, as: :check_boxes, include_hidden: false %>
          </div>
        <% end %>
      <div>
        <%= f.submit "Create your homepage!" %>
      </div>
      <% end %>
  </div>
