.bookmark-circle {
  max-width: 90px;
  max-height: 90px;
  border: 4px solid #FFCD82;
  border-radius: 100px;
  object-fit: cover;
  opacity: 75%;
}

.bookmark-trash {
  // margin-left: 26px;
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 12px;
  color: $main-purple;
}

.bookmark-icon-container {
  position: relative;
  margin: 0 8px;
}
