.bookmark-circle {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  object-fit: cover;
  opacity: 50%;
  &:hover {
    opacity: 75%;
    transition: opacity 0.5s;
  }
}

.bookmark-trash {
  // margin-left: 26px;
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 12px;
  a {
    color: $main-purple;
  }
}

.bookmark-icon-container {
  position: relative;
  margin: 0 8px;
}
