.btn-homepage {
  color: white;
  font-family: "Montserrat";
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.85) 0px 1px 8px;
    transition-property: all;
    transition-duration: .3s
    }
}

.btn-new-message {
  font-size: 20px;
  color: white;
  margin-top: 50px;
}

button {
  border: none;
  outline:none;
}

button:focus {
  border: none;
  outline:none;
}

.btn-create {
  background-color: #A5B9FF;
  color: white;
  font-size: 18px;
  font-family: "Montserrat";
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 40px;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: rgba(166, 184, 255, 0.85) 0px 1px 8px;
    transition-property: all;
    transition-duration: .3s
  }
}

.btn-mood-submit {
  background-color: #A5B9FF;
  color: white;
  font-size: 18px;
  font-family: "Montserrat";
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 10px;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: rgba(166, 184, 255, 0.85) 0px 1px 8px;
    transition-property: all;
    transition-duration: .3s
  }
}

#lollipop {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation-name: continuous_shake;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 4s;
  img:hover {
    animation: shake 0.5s ease;
  }
}

@keyframes continuous_shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  1% { transform: translate(0px, 0px) rotate(-1deg); }
  2% { transform: translate(0px,1px) rotate(1deg); }
  3% { transform: translate(1px, -2px) rotate(0deg); }
  4% { transform: translate(1px, 0px) rotate(1deg); }
  5% { transform: translate(0px, 1px) rotate(-1deg); }
  100% { transform: translate(0px, 0px) rotate(-1deg); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(0px, 0px) rotate(-1deg); }
  20% { transform: translate(0px,1px) rotate(1deg); }
  30% { transform: translate(1px, -2px) rotate(0deg); }
  40% { transform: translate(1px, 0px) rotate(1deg); }
  50% { transform: translate(0px, 1px) rotate(-1deg); }
}

