.btn-homepage {
  color: white;
  font-family: "Montserrat";
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.85) 0px 1px 8px;
    transition-property: all;
    transition-duration: .3s
    }
}

.btn-new-message {
  font-size: 20px;
  color: white;
  margin-top: 50px;
}

button {
  border: none;
  outline:none;
}

button:focus {
  border: none;
  outline:none;
}

.btn-create {
  background-color: #A5B9FF;
  color: white;
  font-size: 18px;
  font-family: "Montserrat";
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 40px;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: rgba(166, 184, 255, 0.85) 0px 1px 8px;
    transition-property: all;
    transition-duration: .3s
  }
}

.btn-mood-submit {
  background-color: #A5B9FF;
  color: white;
  font-size: 18px;
  font-family: "Montserrat";
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 10px;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: rgba(166, 184, 255, 0.85) 0px 1px 8px;
    transition-property: all;
    transition-duration: .3s
  }
}
