.btn-homepage {
  color: white;
  font-family: "Montserrat";
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  // background-color: transparent;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.85) 0px 1px 8px;
    transition-property: all;
    transition-duration: .3s
    }
}

button {
  border: none;
  outline:none;
}

button:focus {
  border: none;
  outline:none;
}

.btn-create {
  background-color: #A5B9FF;
  color: white;
  font-size: 18px;
  font-family: "Montserrat";
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 40px;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: rgba(166, 184, 255, 0.85) 0px 1px 8px;
    transition-property: all;
    transition-duration: .3s
  }
}

.btn-mood-submit {
  background-color: #A5B9FF;
  color: white;
  font-size: 18px;
  font-family: "Montserrat";
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 10px;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: rgba(166, 184, 255, 0.85) 0px 1px 8px;
    transition-property: all;
    transition-duration: .3s
  }
}

#lollipop {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation-name: continuous_shake;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 4s;
  align-self: flex-end;
  img:hover {
    animation: shake 0.5s ease;
  }
}

@keyframes continuous_shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  1% { transform: translate(0px, 0px) rotate(-2deg); }
  2% { transform: translate(0px,2px) rotate(2deg); }
  3% { transform: translate(2px, -4px) rotate(0deg); }
  4% { transform: translate(4px, 0px) rotate(2deg); }
  5% { transform: translate(0px, 4px) rotate(-2deg); }
  6% { transform: translate(0px, 0px) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  20% { transform: translate(0px, 0px) rotate(-4deg); }
  40% { transform: translate(0px,2px) rotate(4deg); }
  60% { transform: translate(2px, -4px) rotate(0deg); }
  80% { transform: translate(2px, 0px) rotate(4deg); }
  90% { transform: translate(0px, 2px) rotate(-4deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

.btn-refresh {
  font-size: 28px;
  color: white;
}

.btn-show {
  font-size: 14px;
  color: #C4C4C4;
}

.btn-add {
  color: #FFBF3F;
  font-size: 18px;
}

.btn-edit {
  color: black;
  font-size: 12px;
}

.btn-minus {
  color: #b4dd6f;
  font-size: 18px;
}
