.card-dashboard {
  background-color: #fffaf0;
  padding: 30px;
  border-radius: 20px;
  margin: 16px auto;
  height: 234px;
  color: #353839;
  // box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

//  .card-dashboard:hover {
//     color: #A5B8FF !important;
//     border-top-color: #A5B8FF;
// }
