.dropdown:hover .dropdown-content {
  display: block;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  background-color: black !important;
}

.category-wrapper input:checked + .category-iten label {
  padding: 10px;
  background-color: black;
}

.dropdown-content-moods {
  font-size: 30px;
}

.invisible {
  display: none;
}
