.community-navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Montserrat";
  padding: 16px 32px;
  background-color: $main-purple;
  h1 {
    font-size: 36px;
    font-family: "Montserrat";
    font-weight: 300;
  }
  a {
    font-size: 30px;
    color: white;
    font-family: "Montserrat";
    font-weight: 300;
    margin-right: 32px;
  }
  a:hover {
    text-decoration: none;
  }
}

.cc-logo {
  color: white;
  width: 40px;
  height: 40px;
}
