.community-navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Montserrat";
  padding: 24px 24px;
  // background-color: $darker-purple;
  a {
    font-size: 24px;
    color: white;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    margin-right: 32px;
    vertical-align: middle;
  }
  a:hover {
    text-decoration: none;
  }
}

.cc-logo {
  color: white;
  width: 32px;
  height: 32px;
}

.navbar-logo {
  display: flex;
  h1 {
    color: white;
    font-size: 16px;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    vertical-align: middle;
  }
}
