.mood-icons {
  font-size: 40px;
  padding: 32px;
  width: 450px;
  text-align: center;
  p {
    font-size: 24px;
  }
  input {
    width: 300px;
    font-size: 16px;
  }
  button {
    font-size: 16px;
    background-color: #A6B7FE;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
  }
}

#mood-exit {
  // position: absolute;
  top: 20px;
  right: 30px;
  color: $main-purple;
  font-size: 20px;
  font-family: "Montserrat";
}
