/* Style the tab */
.tab {
  overflow: hidden;
  margin-left: 0;
}

.tabcontents {
  width: 50vw;
  height: 70vh;
  padding: 12px 24px;
  overflow: scroll;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.3s;
  width: 220px;
  text-align: left;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.hidden {
  display: none;
}
