.typebox {
  font-family: "Montserrat";
  background-color: transparent;
  color: white;
  border: none;
  width: 100%;
  height: 100%;
  &:focus {
    outline: none;
  }
}

.goals {
  border: 1px solid white;
  width: 250px;
  height: 175px;
  padding: 12px 8px;
  color: white;
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
  font-family: "Montserrat";
  text-align: center;
  border-radius: 5px;
  textarea {
    width: 90%;
    height: 100px;
    font-size: 22px;
    resize: none;
  }
  p {
    margin-bottom: 0;
  }
}

.big-picture-box {
  margin-top: 5vh;
}

.little-goals-box {
  margin: 5vh auto;
}

.hidden {
  display: none;
}

// .custom-message-box {
//   width: 50vw;
//   height: 75px;
//   padding: 12px 24px;
//   border: 0.5px solid white;
//   font-size: 24px;
//   border-radius: 5px;
//   textarea {
//     width: 90%;
//     font-size: 30px;
//     font-family: "Montserrat";
//     background-color: transparent;
//     color: white;
//     resize:none;
//   }
//   textarea:focus {
//     outline: none;
//   }
// }
// textarea {
//     resize: none;
//   }
