.typebox {
  font-family: "Montserrat";
  background-color: transparent;
  color: white;
  border: none;
  width: 100%;
  height: 100%
}

// .typebox:focus {
//     outline: none;
//   }

.custom-message-box {
  width: 50vw;
  height: 75px;
  margin-left: 12vw;
  padding: 12px 24px;
  border: 0.5px solid white;
  font-size: 24px;
  border-radius: 5px;
  input {
    width: 90%;
  }
  input:focus {
    outline: none;
  }
}

.goals {
  border: 0.5px solid white;
  width: 250px;
  height: 175px;
  padding: 12px 24px;
  color: white;
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  font-family: "Montserrat";
  text-align: center;
  input {
    font-size: 25px;
    text-align: left;
    width: 20px;
  }
}

.big-picture-box {
  margin: 15vh auto 5vh;
  padding: 12px 24px;
  color: white;
}

.little-goals-box {
  border-radius: 5px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
